[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=6.0"
python-dotenv = "*"
httpx = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.13"
